header nav{
    background-color: rgb(27, 5, 9);
}
.nav-link:hover, .nav-link:focus, .navbar-light .navbar-nav .nav-link.active, .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #56b2e6;
}
.carousel-item .active p{
    z-index: 1080;
    position: relative;
    top: 100px;
    right: 100px;
}
.carousel-caption {
    top: 10em;
    bottom: auto;
}

#home{
    background-color: grey;
}

#services .card:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 6px 6px rgba(0,0,0,0.13);
 }
#services .card{
    margin-bottom: 5px;
}
#contact{
    background-color: rgba(0, 0, 0, 0.4);
}

label.line {
    display: block;
    background-color: #56b2e6;
    width: 65px;
    height: 3px;
}

textarea{
    height: 13em;
}

footer{
    background-color: grey;
}
